<!-- Cameron Deao -->
<!-- CST-235 -->
<!-- 2/17/2019 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

<head>
<title> JSF Form Page</title>
</head> 
 
<body> 
<div align="center"> 
	<form method="post" action="j_security_check">
		Username: <h:inputText id="j_username" autocomplete="off" /><br/>
		Password: <h:inputSecret id="j_password" autocomplete="off" /><br/>
		<h:commandButton type="submit" value="Submit" />
	</form>
</div>
</body> 
</html>